body
{
	background: #5d3954;
}

.info
{
	width: 600px;
	height: 500px;
	margin: 0 auto;
	background: #6e5160;
}

.info  img
{

	border: 10px solid #900;
	border-radius: 10px;
}

.info h1
{
		background: #7f4870;
		padding-top: 10px;
		
}

.info p
{
	font-size: 20px;
	padding-left: 10px;
	padding-top: 20px;
}



.ssylka 
{
	color: #000;
	text-decoration: none; 
}

.istoria  p
{
	color: #fff;
}

.infoodin
{
	width: 600px;
	margin: 0 auto;
	background: #6e5160;
}

.infoodin h1
{
		background: #7f4870;
		padding-top: 10px;
}

.infodva  p
{
	font-size: 30px;
	color: #fff;
	padding-left: 10px;
}

.infodva 
{
	width: 600px;
	margin: 0 auto;
	background: #6e5160;
}

.infodva  h1
{
		background: #7f4870;
		padding-top: 10px;
}
